<div class="mob-tokens-help">
    <p>{{localize "MOBTOKENS.HelpPromptBody"}}</p>
    <ul>
        <li>{{localize "MOBTOKENS.HelpPromptStepOne"}}</li>
        <li>{{localize "MOBTOKENS.HelpPromptStepTwo"}}</li>
        <li>{{localize "MOBTOKENS.HelpPromptStepThree"}}</li>
    </ul>
</div>